<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 2WEIT flower | Контакты </title>
    <link rel="stylesheet" href="/static/contact.css">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Overpass+Mono:wght@300..700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">

</head>
<body>
      {% include "header.html" %}
<main>
            <div class="main-container">
            <div class="content">
                <div class="about-images">
                    <img src="/static/photo/photo1.jpeg"/>
                    <img src="/static/photo/photo2.jpeg"/>
                    <img src="/static/photo/photo4.jpg"/>
                    <img src="/static/photo/photo3.jpeg"/>
                </div>
                <div class="about-container">
                    <div class="about-container-content">
                        <h1> О цветочном магазине "2WEIT"</h1>
                        <div class="about-text">
                            <p> Добро пожаловать в цветочный магазин "2weit" — место, где каждый цветок дарит радость и вдохновение! Наш магазин оформлен в нежных пастельных тонах, создающих атмосферу гармонии и уюта. Здесь вы сможете не только выбрать прекрасные букеты, но и насладиться волшебной красотой цветов, которые наполнят ваш день теплом и яркими красками.</p>
                            <p> В "2weit" мы предлагаем только свежие и роскошные цветы — от классических роз до изысканных орхидей и оригинальных авторских композиций. Каждый букет создается с любовью и вниманием к деталям, чтобы вы могли подарить близким частичку настоящего счастья. </p>
                            <p> Не можете зайти к нам? Не беда! Мы с радостью доставим цветы по вашему адресу, чтобы вы могли порадовать себя или своих любимых в любое время. Просто оформите заказ, и наши флористы быстро соберут для вас свежий, благоухающий букет, который подарит улыбки и прекрасные эмоции.</p>
                            <p> Приходите в "2weit" — здесь каждый найдет свой идеальный цветок и частичку природы, которая согреет сердце! 🌸💐</p>
                        </div>
                        <h2> ВСЕГДА БУДЕМ РАДЫ ВИДЕТЬ ВАС!</h2>
                    </div>
                </div>
            <div class="contact-content">
                <div class="contact-name">
                    <h1>КОНТАКТНАЯ ИНФОРМАЦИЯ</h1>
                </div>
                    <div class="contact-text">
                        <h1> Адрес:</h1>
                        <p>г.Вологда ул.Первомайская 42</p>
                        <h1> Мы открыты:</h1>
                        <p> пн-пт: 9:00-22:00</p>
                        <p>сб-вс: 10:00-00:00 </p>
                        <h1>Телефон</h1>
                        <p>89000000000</p>
                        <h1> Свяжитесь с нами:</h1>
                        <p>если у вас есть замечания или предложения по нашей работе, пожалуйста напишите в telegram: 2weit_support или на почту support@2weit</p>
                        <h1> Отзывы на площадках</h1>
                        <div class="feedback">
                        <p><a href="{{ url_for('reviews_page') }}">Отзывы</a></p>
                        </div>
                    </div>

            </div>
        </div>
</main>
      {% include "footer.html" %}
</body>
</html>