    <footer>
        <h2> Популярные цветы</h2>
        <ul>
            <li><a href="{{ url_for('roses_page') }}">Розы</a></li>
            <li><a href="{{ url_for('tulips_page') }}">Тюльпаны</a></li>
            <li><a href="{{ url_for('lilies_page') }}">Лилии</a></li>
            <li><a href="{{ url_for('gerberas_page') }}">Герберы</a></li>
            <li><a href="{{ url_for('peonies_page') }}">Пионы</a></li>
            <li><a href="{{ url_for('lavender_page') }}">Лаванда</a></li>
            <li><a href="{{ url_for('gypsophila_page') }}">Гипсофилы</a></li>
        </ul>
        <h1>2WEIT</h1>
        <p>&copy; 2023 Мой сайт. Все права защищены.</p>
        <p>Контакты:  support@2weit</p>
    </footer>