<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 2WEIT flower</title>
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Overpass+Mono:wght@300..700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
      {% include "header.html" %}
      <div class ="Flower">
        <div class="image-container1">
            <img src="/static/12.png" alt="Цветок">
            <div class="text-overlay">
                <h1>Цветы</h1>
                <p>Добро пожаловать! Здесь вы найдете широкий ассортимент свежих и красивых цветов для любого повода. Ознакомьтесь с нашим ассортиментом и выберите идеальные цветы для себя или в подарок!!</p>
            </div>
        </div>
    </div>
 <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цветочный магазин</title>
</head>
<body>
    <main>
        <div class="cards-container">
            <div class="item-card">
                <div class="card-name">
                    <p>Розы</p>
                </div>
                <div class="card-text">
                    <p>Классические цветы, символизирующие любовь и романтику. Доступны в различных цветах, включая красный, белый, розовый и желтый.</p>
                    <p>Цена: 150 руб. за штуку</p>
                </div>
                <div class="card-image">
                    <img src="/static/image (1).png" alt="Розы">
                </div>
            </div>
            <div class="item-card">
                <div class="card-name">
                    <p>Тюльпаны</p>
                </div>
                <div class="card-text">
                    <p>Яркие весенние цветы, символизирующие обновление и надежду. Доступны в множестве оттенках.</p>
                    <p>Цена: 100 руб. за штуку</p>
                </div>
                <div class="card-image">
                    <img src="/static/image (2).png" alt="Тюльпаны">
                </div>
            </div>
            <div class="item-card">
                <div class="card-name">
                    <p>Лилии</p>
                </div>
                <div class="card-text">
                    <p>Элегантные и ароматные цветы, часто используемые в свадебных букетах. Имеют крупные цветы и разнообразные оттенки.</p>
                    <p>Цена: 200 руб. за штуку</p>
                </div>
                <div class="card-image">
                    <img src="/static/image (3).png" alt="Лилии">
                </div>
            </div>
            <div class="item-card">
                <div class="card-name">
                    <p>Герберы</p>
                </div>
                <div class="card-text">
                    <p>Яркие и жизнерадостные цветы, которые отлично подходят для создания веселых композиций. Доступны в различных цветах.</p>
                    <p>Цена: 100 руб. за штуку</p>
                </div>
                <div class="card-image">
                    <img src="/static/image (5).png" alt="Герберы">
                </div>
            </div>
            <div class="item-card">
                <div class="card-name">
                    <p>Орхидеи</p>
                </div>
                <div class="card-text">
                    <p>Экзотические и изысканные цветы, которые добавляют элегантности любому букету. Часто используются в оформлении.</p>
                    <p>Цена: 300 руб. за штуку</p>
                </div>
                <div class="card-image">
                    <img src="/static/image (6).png" alt="Орхидеи">
                </div>
            </div>
            <div class="item-card">
                <div class="card-name">
                    <p>Пионы</p>
                </div>
                <div class="card-text">
                    <p>Пышные и ароматные цветы, популярные в свадебных букетах. Имеют нежные оттенки и крупные бутоны.</p>
                    <p>Цена: 250 руб. за штуку</p>
                </div>
                <div class="card-image">
                    <img src="/static/image (8).png" alt="Пионы">
                </div>
            </div>
            <div class="item-card">
                <div class="card-name">
                    <p>Фрезии</p>
                </div>
                <div class="card-text">
                    <p>Ароматные цветы с яркими оттенками, которые часто используются в букете и для декора.</p>
                    <p>Цена: 120 руб. за штуку</p>
                </div>
                <div class="card-image">
                    <img src="/static/image (9).png" alt="Фрезии">
                </div>
            </div>
            <div class="item-card">
                <div class="card-name">
                    <p>Хризантемы</p>
                </div>
                <div class="card-text">
                    <p>Символизируют долголетие и счастье. Доступны в различных формах и цветах, часто используются в осенних композициях.</p>
                    <p>Цена: 90 руб. за штуку</p>
                </div>
                <div class="card-image">
                    <img src="/static/image (10).png" alt="Хризантемы">
                </div>
            </div>
            <div class="item-card">
                <div class="card-name">
                    <p>Лаванда</p>
                </div>
                <div class="card-text">
                    <p>Ароматные цветы, символизирующие спокойствие. Часто используются в букете и для создания композиции.</p>
                    <p>Цена: 150 руб. за штуку</p>
                </div>
                <div class="card-image">
                    <img src="/static/image (11).png" alt="Лаванда">
                </div>
            </div>
            <div class="item-card">
                <div class="card-name">
                    <p>Ромашки</p>
                </div>
                <div class="card-text">
                    <p>Нежные и простые цветы, символизирующие чистоту и невинность. Часто используются в полевых букетах.</p>
                    <p>Цена: 60 руб. за штуку</p>
                </div>
                <div class="card-image">
                    <img src="/static/image (12).png" alt="Ромашки">
                </div>
            </div>
            <div class="item-card">
                <div class="card-name">
                    <p>Гипсофилы</p>
                </div>
                <div class="card-text">
                    <p>Легкие и воздушные цветы, часто используемые в качестве дополнения к букетам. Символизируют нежность и искренность.</p>
                    <p>Цена: 80 руб. за штуку</p>
                </div>
                <div class="card-image">
                    <img src="/static/image (13).png" alt="Гипсофилы">
                </div>
            </div>
            <div class="item-card">
                <div class="card-name">
                    <p>Астры</p>
                </div>
                <div class="card-text">
                    <p>Яркие и разнообразные цветы, которые отлично подходят для букетов.</p>
                    <p>Цена: 70 руб. за штуку</p>
                </div>
                <div class="card-image">
                    <img src="/static/image (14).png" alt="Астры">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="image-container">
                <img src="/static/103.png" alt="Букет цветов" class="image">
            </div>
            <div class="content-container">
                <h1 class="title">Букеты в нашем магазине</h1>
                <p class="description">
                    В нашем магазине вы найдете уникальные букеты, созданные с любовью и вниманием к деталям.
                    Мы предлагаем вам возможность собрать свой идеальный букет из любых цветов на ваш вкус!
                    <br><br>
                    Выберите из ярких роз, нежных лилий, экзотических орхидей и многих других прекрасных растений.
                    Каждый букет — это не просто набор цветов, а настоящая история, которую вы можете рассказать своим близким.
                    <br><br>
                    Пусть ваши эмоции и чувства найдут отражение в нашем букете, который станет идеальным подарком для любого повода.
                </p>
                <button class="order-button">Заказать букет</button>
            </div>
        </div>
    </main>
</body>
</html>
      {% include "footer.html" %}
</body>
</html>